body{
    margin: 0;
    background-color: rgb(255, 244, 220);
}

header{
background-color: chocolate;
justify-content: center;
text-align: center;
padding-bottom: 25px;
padding-top: 10px;
width: 100%;
}
#tit{
    color: gold;
    font-size: 100px;
}
#sub-tit{
    color: gold;
    font-size: 15px;
}
nav{
    background-color: brown;
    justify-content: center;
    text-align: center;
    width: 100%; 
}
.div-p{
    color: goldenrod;
    font-style: italic;
    font-size: 30px;
    text-decoration: none;
}
.div-p:hover{
    color: rgb(255, 89, 0)
}
.div-p:visited{
    text-decoration: none;
}

main{

}
.cat{
    font-style: oblique;
    font-size: 45px;
    text-align: center;
    color: rgb(0, 175, 0);
}
#txt-in{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

aside{
    text-align: right;
    height: 100%;
    position: sticky;
    top: 0;
    
}
#menu-p{
    height: 800px;
}